.dashboard-container {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.sidebar {
  width: 250px;
}

.dashboard-main {
  flex: 1;
  overflow-y: auto;
}

.dashboard-content h3 {
  color: #0d6efd;
}

.dashboard-content .card {
  background: #fff;
  border-radius: 12px;
}
